* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 10px;
  body {
    font-size: 1.6rem;
    font-family: "montserrat", sans-serif;

    background-image: url(../images/normalW.jpg);

    background-image: url(../../images/normalW.jpg);

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
  }
}
