* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
}
html {
  font-size: 10px;
  body {
    font-size: 1.6rem;
    font-family: "montserrat", sans-serif;
    background-image: url(../images/normalW.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
=======
  html {
    font-size: 10px;
    body {
      font-size: 1.6rem;
      font-family: "montserrat", sans-serif;
      background-image: url(../../images/Cloudy.jpeg);
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;
    }
>>>>>>> 7213432a065960cfacc43220b4e21fd86c302659
  }
}
